Package: com.hetyey.sptmtest
Name: SPTMTest
Description: SPTM bypass test
Maintainer: Hetyey
Author: Hetyey
Section: Development
Depends: firmware (= 17.0)
Architecture: iphoneos-arm
Version: 1.0.0-1+debug
Installed-Size: 312
